<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>223238297413-a97pm4iffs4hl2i2bs2mac1gcsoa8opv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.223238297413-a97pm4iffs4hl2i2bs2mac1gcsoa8opv</string>
	<key>API_KEY</key>
	<string>AIzaSyB914tdgMtvNt4F72Ce5DE0Fb30rY23wnU</string>
	<key>GCM_SENDER_ID</key>
	<string>223238297413</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fcu.newocean</string>
	<key>PROJECT_ID</key>
	<string>newocean-444d7</string>
	<key>STORAGE_BUCKET</key>
	<string>newocean-444d7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:223238297413:ios:14fb797b52328d1eadd02c</string>
	<key>DATABASE_URL</key>
	<string>https://newocean-444d7-default-rtdb.firebaseio.com</string>
</dict>
</plist>